
.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
}


.Options{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.hOption{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
}

.burgerMenu{
    left: 0;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    background-color: darkcyan;
}
.sidenav .burgerMenu {
    margin-top: 29px;
    margin-left: 25px;
}

@media only screen and (max-width: 1000px) {
    #price{
        display: none;
    }

    #weekday{
        display: none;
    }

    #language{
        display: none;
    }
}


img {
    max-width: 100%;
    height: auto;
}

#location{

}

.menus {
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.content {
    margin-bottom: 100px;
}


.menuCard {
    background-color: lightsteelblue;

    height: 290px;
    width: 290px;
    padding: 10px;
    margin: 15px;
    font-size: 19px;

}

.menuCard:hover{
    background-color: #b1a7ce;
}

.footer {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
    color: white;
    text-align: center;
}



/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    min-width: 350px;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #81b9b9;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: absolute;
    margin-left: 8px;
    margin-top:  8px;
    display: none;
    text-align: center;
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.description {
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stairs{
    background-color: darkslateblue;
    padding: 2px 5px 2px 5px;
    color: white;
}

.navMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
